$background-color-card: #0e0e11;
$background-color-card-overlay: #2c2c2ccc;
$color-text: white;
$color-overlay: rgba(44, 44, 44, 0.8);
$color-button-active: #fe9327;
$color-button: rgba(44, 44, 44, 1);

$font-size-name: 24px;
$font-size-description: 12px;
$font-size-currency: 14px;
$font-size-label: 10px;

$border-radius: 16px;
